<h2>Password Reset Request</h2>

<p>Hello <%= @user.name %>,</p>

<p>We received a request to reset your password. Click the link below to set a new password:</p>

<p><a href="<%= @reset_url %>">Reset my password</a></p>

<p>This link will expire in 2 hours.</p>

<p>If you did not request a password reset, please ignore this email. Your password will remain unchanged.</p>

<p>
  Blessings,<br>
  The RighteousDispatch Team
</p>
